<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <!-- Setup Description: http://stackoverflow.com/questions/8138072/log4net-file-appender-not-logging -->
    <!-- Ouput log information in XML readable format for Log4Net XML LogViewer (Open Source From Codeplex
       http://yourlog4netviewer.codeplex.com/
  -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="${TMP}\GenericSuggestBoxDemo.log4j"/>
      <!-- threshold value="DEBUG" / -->
      <appendToFile value="false"/>
      <datePattern value="yyyyMMdd"/>
      <rollingStyle value="Date"/>
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true"/>
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <!-- threshold value="WARN" / -->
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>

    <root>
      <!-- Levels: Off, Fatal, Error, Warn, Info, Debug, All -->
      <level value="Warn"/>
      <appender-ref ref="RollingFileAppender"/>
      <!-- appender-ref ref="ConsoleAppender"/ -->
    </root>
  </log4net>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
